@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">
        <img src="~/img/80899186_RI-Rio-de-Janeiro-RJ-31-01-2019O-protetor-de-animais-Joelson-Avelino-Torres-49-anos-foi.jpg" class="img-fluid" />
    </div>
</div>
